.simply-countdown {
  overflow: hidden;
  display: table;
  margin: auto;
}
.simply-countdown > .simply-section {
  width: 10px;
  height: 70px;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  text-shadow: 100%(rgb(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0)));
  
 
  backface-visibility: visible;
 
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 2.5rem;
}
